.button {
  padding: 0;
  composes: button from "../../styles/fonts.pcss";
  composes: mobile-button from "../../styles/fonts.pcss";
}

.buttonAccent {
  composes: accent-color from "../../styles/colors.pcss";
}
