@value colors: '../../styles/variables/colorVariables.css';
@value accent, accent-light, subordinate-light, secondary,  white from colors;

@value spaces: '../../styles/variables/spaceVariables.css';
@value space-xs, space-s, space-m from spaces;

.button {
  composes: mobile-button from "../../styles/fonts.css";
  padding: 0;
  color: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.accentLight {
  color: accent;
  background-color: accent-light;
}

.accent {
  color: white;
  background-color: accent;
}

.subordinate {
  color: secondary;
  background-color: subordinate-light;
}

.accent,
.subordinate,
.accentLight {
  composes: xxl-border-radius from "../../styles/borders.css";
  border: none;
  padding: space-xs space-m;
}
