@value colors: '../../styles/variables/colorVariables.css';
@value primary, subordinate-medium, subordinate from colors;

@value spaces: '../../styles/variables/spaceVariables.css';
@value space-s from spaces;

@value fonts: '../../styles/variables/fontSizeVariables.css';
@value font-xs, font-s from fonts;

@value border-radiuses: '../../styles/variables/borderRadiusVariables.css';
@value border-radius-xs from border-radiuses;

.container {
    position: relative;
}

.title {
    composes: title from "../../styles/content.css";
}

.textarea {
    box-sizing: border-box;
    border: 1px solid subordinate-medium;
    border-radius: border-radius-xs;
    color: subordinate;
    font-size: font-s;
    padding: 7px;
    resize: none;
    width: 100%;
}

.textarea::placeholder {
    color: subordinate;
}

.charactersLeft {
    position: absolute;
    right: 7px;
    bottom: 7px;
    color: subordinate;
    font-size: font-xs;
}


