@value spaces: '../../styles/variables/spaceVariables.css';
@value space-m from spaces;

@value colors: '../../styles/variables/colorVariables.css';
@value accent-light, accent from colors;

.title {
  composes: mobile-title-large from "../../styles/fonts.css";
  composes: accent-darkest-color from "../../styles/colors.css";
  font-weight: bold;
  margin-bottom: space-m;
  grid-column-start: 1;
  grid-column-end: 3;
}

.subtitle {
  composes: subtitle from "../../styles/texts.css";
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: space-m;
  padding-bottom: space-m;
}

.button {
  width: 100%;
}

.button > svg {
  display: inline-block;
  vertical-align: middle;
}

.category {
  display: grid;
  grid-template-columns: min-content auto auto;
  grid-gap: space-m;
}
