.nav {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-area: control-panel;
}

.list {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  font-size: initial;
}

.control {
  font-size: 0;
}
