@value spaces: "../../styles/variables/spaceVariables.css";
@value space-s, space-m from spaces;

@value border-radiuses: '../../styles/variables/borderRadiusVariables.css';
@value border-radius-s from border-radiuses;

@value colors: '../../styles/variables/colorVariables.css';
@value white from colors;

.creationMenu {
  composes: dropdown from "../../styles/box-shadows.css";
  padding: space-m;
  border-radius: border-radius-s;
  border: 1px solid #ddd;
  background-color: white;
  z-index: 2;
}

.button {
  display: block;
  padding: space-s;
}
