.default-white {
  background: white;
}

.default-white-color {
  color: white;
}

.subordinate {
  background: rgba(0, 0, 0, 0.08)
}

.subordinate-color {
  color: #666;
}

.accent {
  background: #ee8208;
}

.accent-lightest {
  background: #fdf6e4;
}

.accent-darkest {
  color: #333;
}

.accent-color {
  color: #ee8208;
}

.secondary-color {
  color: #999;
}

.icon-default {
  fill: #999;
}

.icon-darkest {
  fill: #333;
}
