@value colors: '../../styles/variables/colorVariables.css';
@value subordinate-light, subordinate-medium, primary, secondary from colors;

@value border-radiuses: '../../styles/variables/borderRadiusVariables.css';
@value border-radius-xs from border-radiuses;

@value spaces: '../../styles/variables/spaceVariables.css';
@value space-xs, space-s from spaces;

.title,
.input {
  composes: title from "../../styles/content.css";
}

.container {
  position: relative;
}

.input {
  composes: secondary-color from "../../styles/colors.css";
  composes: input-border from "../../styles/borders.css";
  padding: 7px;
  box-sizing: border-box;
  width: 100%;
  font-weight: normal;
}

.input:disabled {
  color: primary;
  background-color: subordinate-light;
  border: 1px solid subordinate-medium;
}

.copyButton {
  color: secondary;
  border-radius: border-radius-xs;
  background-color: subordinate-medium;
  padding: space-xs space-s;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
}
