.title {
  padding-bottom: 10px;
  composes: accent-darkest from "../../styles/colors.pcss";
  font-weight: bold;
}

.title,
.input {
  composes: title from "../../styles/fonts.pcss";
  composes: mobile-title from "../../styles/fonts.pcss";
}

.input {
  composes: secondary-color from "../../styles/colors.pcss";
  composes: input-border from "../../styles/borders.pcss";
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
}
