.title,
.input {
  composes: title from "../../styles/content.pcss";
}

.input {
  composes: secondary-color from "../../styles/colors.pcss";
  composes: input-border from "../../styles/borders.pcss";
  padding: 7px;
  box-sizing: border-box;
  width: 100%;
  font-weight: normal;
}
