.checkbox {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
}

.title {
  composes: accent-darkest-color from "../../styles/colors.pcss";
  composes: mobile-title from "../../styles/fonts.pcss";
  padding-left: 10px;
}
