@value spaces: "../../styles/variables/spaceVariables.pcss";
@value space-s, space-m from spaces;

.footer {
  border-top: 1px solid grey;
  padding: space-m;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  composes: default-white from "../../styles/colors.pcss";
  display: grid;
  grid-gap: space-s;
  grid-auto-flow: column;
  justify-content: center;
}
