.filtersList {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: auto;
  grid-gap: 10px;
}

.filter {
  color: rgba(0, 0, 0, 0.6);
}

.filterActive {
  color: black;
  border-bottom: 1px solid black;
}
