@value colors: "../../styles/variables/colorVariables.css";
@value accent, subordinate, primary from colors;

@value spaces: "../../styles/variables/spaceVariables.css";
@value space-s, space-m, space-xl from spaces;

.filtersList {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, min-content);
  overflow-y: auto;
  grid-gap: space-m;
}

.filter {
  color: subordinate;
  padding-bottom: space-s;
  margin-bottom: space-xl;
  white-space: nowrap;
}

.activeFilter {
  color: primary;
  border-bottom: 1px solid accent;
}

.count {
  opacity: 0.6;
}
